body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
    font-size: 16px;
    }
 ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
 h1, h2, h3, h4, h5, h6, p{
  margin: 0;
 }     
      
 a {
        text-decoration: none;
      }
      
 button {
        cursor: pointer;
      }
  .container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
      }
  .header-container{
    display: flex;
    align-items: center;
  }
  .page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
  .header-nav{
    display: flex;
    align-items: center;
  }
  .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
      }
   .header-logo{
    padding: 24px 0;
    margin-right: 76px;
   }   
  .logo-part{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
  }
  .nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current{
   position: relative;
  }
  .nav-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current{
    color: #404bbf;
  }
  .contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contacts{
    font-style: normal;
    margin-left: auto;
  }
  .contacts-link{
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page{
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
 url("../images/people-office.jpg");
 max-width: 1440px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 margin-left: auto;
 margin-right: auto;
       }
.page-container{
  display: block;
  align-items: center;
      }
.page-title{
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
        }
.page-btn{
   display: block;
   margin: 0 auto;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #fff;
   background-color: #4d5ae5;
   border-radius: 4px;
   padding: 16px 32px;
   min-width: 169px;
   height: 56px;
   border: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
.page-btn:hover,
.page-btn:focus{
  background-color: #404bbf;
}      
.properties{
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.properties-list-icon{
  display: flex;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  gap: 24px;
}
.properties-icon{
  display: block;
  
}
.properties-list{
  display: flex;
  align-items: center;
  gap: 24px;
}
.properties-item{
    display: block;
    width: calc((100% - 72px) / 4);
      }
.properties-subtitle{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
      }
.properties-text{
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
         }

.team-list{
  display: flex;
  align-items: center;
  gap: 24px;
}
.team{
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-item{
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.images{
  display: block;
}
.team-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-subtitle{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
 }
 .team-item-text{
  padding: 32px 0;  
 }
.team-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
   }
 .team-networks{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
 }  
 .team-networks-link{
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-networks-link:hover,
  .team-networks-link:focus{
  background-color: #404bbf;
  }
 .networks-icons{
  fill: #f4f4fd;
  
 }
.portfolio{
  padding: 120px 0;
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-item{
  width: calc((100% - 48px) / 3 );
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.portfolio-hidden{
  position: relative;
  overflow: hidden;
}
.portfolio-hidden-text{
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
   
}
.portfolio-item:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); }
.portfolio-item:hover .portfolio-hidden-text{
  transform: translateY(0);   
}
.portfolio-subtitle{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-container{
  display: flex;
  align-items: baseline;
  
  }
.page-footer{
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer-container{
  margin-right: 120px;
}
.logo-footer{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.page-logo-footer{
  display: inline-block;
  margin-bottom: 16px;
}

.footer-part{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  }
  .footer-networks{
    display: flex;
    
    
    flex-direction: column;
  }
  .footer-networks-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px; 
  }
  .footer-networks-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
  }
  .footer-networks-link{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-network-icons{
    fill: #f4f4fd;
  }
  .footer-networks-link:hover,
  .footer-networks-link:focus {
  background-color: #31d0aa;
  }